html,
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

* {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px
}